/* Prevents slides from flashing */
#slides {
  display: none;
}

#slide-container {
	width: 960px;
  margin: 0 auto;
}

#modb-slider {
	display: none;
}

/* caption */

#slide-caption {
	background-color: black;
	background-color: #333;
	color: white;
	font-size: 1.7em;
	padding: 8px;
}

/* pagination */

  .slidesjs-pagination {
    margin: 7px 0 0;
    float: right;
    list-style: none;
  }

  .slidesjs-pagination li {
    float: left;
    margin: 0 1px;
  }

  .slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url('../images/pagination.png');
    background-position: 0 0;
    float: left;
    overflow: hidden;
  }

  .slidesjs-pagination li a.active,
  .slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
  }

  .slidesjs-pagination li a:hover {
    background-position: 0 -26px
  }