<div class="row modb-gallery">
	{{#backdrops}}
	<div class="small-6 large-3 columns">
		<a class="fancybox" rel="group" href="{{full_url}}"><img src="{{thumb_url}}"></a>
	</div>
	{{/backdrops}}
</div>